.navigation{
    display: flex;
    justify-content: space-between;
}
.rocket-rental img{
    height: 40px;
}
.rocket-rental{
    display: flex;
    font-size: 10px;
    margin-left: 50px;
    margin-top: 20px;
    color: white;
}
.search-btn{
    margin-right: 50px;
    margin-top: 20px;
    vertical-align: top;
    color: white;
}
button{
    color: white;
    background-color: rgb(54, 54, 192);
    border: none;
    border-radius:5px;
    height: 25px;
}
.main p{
    text-align: center;
    
}
.exprole{
    font-size: 12px;
    color: gray;
}
.rent-space{
    font-size: 30px;
    font-weight: 700;
    margin-top: -2px;
    color: white;
}
.main{
    margin-top: 100px;
}
.footer{
    display:flex;
    justify-content: space-between;
    font-size: 8px;
    font-weight: 700;
    line-height: 2px;
    border: 1px solid black;
    border-radius: 40px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    width: 700px;
    height: 30px;
    margin: auto;
    padding-top: 10px;
    background-color: white;
    padding-bottom: 10px;
    
    

}
.png-icon img{
    height: 30.2px;
    text-align: center;
    padding-bottom: 30px;
    padding-right: 50px;
}
input{
    border: hidden;
    font-size: 7px;
    justify-content: center;
    padding-left: 10px;
    margin-left: 40px;
}
.starport{
padding-left: 7px;
}
.city{
    padding-right:5px;
    border-left: 1px solid gray;
}
.Brand{
    padding-right: 40px;
    border-left: 1px solid gray;
}
.Host{
    padding-right: 40px;
    border-left: 1px solid gray;
}
body{
    background-image: url(rocketimages/rocket.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}